.userForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.userFormTitle {
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 7px;
  text-align: center;
}

.userFormItem {
  padding-top: 10px;
}

.userFormItem:not(:last-child) {
  margin-bottom: 25px;
}

.userFormLabelsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.userFormLabel:not(:last-child) {
  margin-right: 20px;
}

.userFormAccount {
  padding-left: 10px;
  color: #c6b6d7;
  margin-bottom: 5px;
}

.userFormContentWrapper {
  display: flex;
}

.userFormInput {
  width: 260px;
  height: 50px;
  padding-left: 18px;
  background: white;
  font-size: 27px;
  border: 2px solid #c6b6d7;
  border-radius: 10px;
  caret-color: #210b36;
}

.userFormInput::-webkit-outer-spin-button,
.userFormInput::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.userFormInput:focus {
  outline: none;
  border: 2px solid #b865d6;
}

.userFormBtnWrapper {
  display: flex;
  align-self: flex-end;
}

.userFormSubmitBtn,
.userFormDeleteBtn {
  width: 260px;
  height: 50px;
  align-self: flex-end;
  background: linear-gradient(87.4deg, #2e00b1 -11.74%, #8100bd 48.81%, #a400be 113.27%);
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: white;
  border: none;
  border-radius: 10px;
}

.userFormSubmitBtn {
  margin-right: 20px;
}

.userFormSubmitBtn:hover,
.userFormDeleteBtn:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(87.4deg, #2e00b1 -11.74%, #8100bd 48.81%, #a400be 113.27%);
}

.userFormSubmitBtn:focus,
.userFormDeleteBtn:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    linear-gradient(87.4deg, #2e00b1 -11.74%, #8100bd 48.81%, #a400be 113.27%);
}

.userFormSubmitBtn:disabled,
.userFormDeleteBtn:disabled {
  background: #b0b0b0;
  cursor: not-allowed;
}

.userTransactionsBtn {
  width: 340px;
  height: 45px;
  margin-bottom: 20px;
}

.userFormItem {
  position: relative;
}

.userFormItem:not(:last-child)::after {
  position: absolute;
  content: '';
  bottom: -15px;
  width: 100%;
  height: 2px;
  background: #210b36;
}

.contentSpan:not(:last-child) {
  margin-bottom: 10px;
}

.userFormInfoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;
  margin-bottom: 15px;
}

.userFormPhoneNumber {
  color: #c6b6d7;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 7px;
}

.userFormEmail {
  color: #c6b6d7;
  font-size: 20px;
  font-weight: 700;
}

@media (max-width: 1170px) {
  .userFormLabelsWrapper {
    margin: 0 0 30px 0;
    flex-direction: column;
  }

  .userFormContentWrapper {
    flex-direction: column;
  }

  .userFormLabel:not(:last-child) {
    margin: 0 0 20px 0;
  }

  .userFormBtnWrapper {
    display: flex;
    flex-direction: column;
  }

  .userFormSubmitBtn {
    margin: 0 0 20px 0;
  }

  .userTransactionsBtn {
    width: 260px;
    height: 45px;
  }  
}

@media (max-width: 520px) {
  .contentSpan:not(:last-child) {
    margin-bottom: 5px;
  }
}
