* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('assets/fonts/comfortaa/Comfortaa-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('assets/fonts/nunito/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('assets/fonts/nunito/Nunito-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('assets/fonts/nunito/Nunito-SemiBold.ttf') format('truetype');
}

body {
  min-height: var(--tg-viewport-height);
  background: #210b36;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Comfortaa, Nunito, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

